# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db
desktop.ini

# ==========================
# Visual Studio Code
# ==========================
.vscode/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp